@inherits LayoutComponentBase

<div class="public-layout">
    <main class="container ">
        @Body
    </main>
</div>

<style>
    .public-layout {
        background-color: #f8f9fa;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
   
        width: 100%;
    }
</style>