@inherits LayoutComponentBase

<div class="public-layout">
    @Body
</div>

<style>
    .public-layout {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100vw;
        overflow: hidden; /* مطمئن می‌شه اسکرول اضافه نمیاد */
    }
</style>
